@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-color: #70ff9b;
  --secondary-color: #fafffb;
}

* {
  font-family: "Nunito", sans-serif;
}

.App {
  max-width: 1200px;
  background-color: var(--primary-color);
}

.container {
  text-align: center;
  justify-content: center;
}
