.tags-container {
  margin-right: 2rem;
  border-right: 5px solid var(--secondary-color);
  border-radius: 5px;
}

.tags-header {
  font-size: 1.7rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  display: flex;
}

.tags-header-text {
  width: 100%;
  border-bottom: 5px solid var(--secondary-color);
  border-radius: 5px;
}

.tag-li-offset {
  transform: skewX(10deg);
}

.tag-li {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.75rem;
  margin: 0.75rem;
  background-color: var(--accent-color);
  /* border: 3px solid var(--secondary-color); */
  /* border-radius: 30px; */
  transform: skewX(-10deg);
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tag-li:hover {
  cursor: pointer;
  border-left: 5px solid var(--secondary-color);
}

.tag-name {
  text-align: center;
  margin-left: 0.1rem;
}
